<div class="container my-4">
    <h3>Nội Dung Phim</h3>
    <hr />
    <div class="row">
        <div class="col-sm-3">
            <img src="https://cdn.galaxycine.vn/media/2022/10/12/life-is-beautiful_1665558033662.jpg" alt="" />
        </div>
        <div class="col-sm-9">
            <div class="container">
                <h2>BLACK ADAM</h2>
                <hr />
                <div>Đạo Diễn: Jaume Collet-Serra</div>
                <div>
                    Diễn Viên: Dwayne Johnson, Sarah Shahi, Pierce Brosnan, Noah Centineo, Aldis Hodge, Joseph Gatt, Natalie Burn, Quintessa
                    Swindell,…
                </div>
                <div>Thể Loại: Hành Động, Phiêu Lưu</div>
                <div>Khởi Chiếu: 21/10/2022</div>
                <div>Thời lượng: 125 phút</div>
                <div>Ngôn ngữ: Tiếng Anh - Phụ đề Tiếng Việt</div>
                <button class="mt-4 btn btn-lg btn-secondary" data-bs-toggle="modal" data-bs-target="#dialog-order">Đặt vé</button>
            </div>
            <app-modal-order></app-modal-order>
        </div>
    </div>
</div>
