<div class="me-5">
    <h1 class="h3 my-4 text-gray-800">Danh Sách Phim</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-secondary">Phim</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="d-flex justify-content-between my-2 mb-4">
                        <div>
                            <div class="dataTables_length" id="dataTable_length">
                                <a type="button" class="btn btn-secondary" href="/admin/create">Thêm Phim Mới</a>
                            </div>
                        </div>
                        <div>
                            <div class="input-group rounded">
                                <input
                                    type="search"
                                    class="form-control rounded"
                                    placeholder="Search"
                                    aria-label="Search"
                                    aria-describedby="search-addon"
                                />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table
                                class="table table-bordered dataTable mb-5"
                                id="dataTable"
                                width="100%"
                                cellspacing="0"
                                role="grid"
                                aria-describedby="dataTable_info"
                                style="width: 100%"
                            >
                                <thead>
                                    <tr role="row">
                                        <th
                                            class="sorting sorting_asc"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-sort="ascending"
                                            aria-label="Name: activate to sort column descending"
                                            style="width: 111px"
                                        >
                                            Tên Phim
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Position: activate to sort column ascending"
                                            style="width: 172px"
                                        >
                                            Mô Tả
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Office: activate to sort column ascending"
                                            style="width: 100px"
                                        >
                                            Thể loại
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Age: activate to sort column ascending"
                                            style="width: 31px"
                                        >
                                            Mã Phim
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Start date: activate to sort column ascending"
                                            style="width: 75px"
                                        >
                                            Khởi Chiếu
                                        </th>
                                        <th
                                            class="sorting"
                                            tabindex="0"
                                            aria-controls="dataTable"
                                            rowspan="1"
                                            colspan="1"
                                            aria-label="Salary: activate to sort column ascending"
                                            style="width: 67px"
                                        >
                                            Thời Lượng
                                        </th>

                                        <th style="width: 8px"></th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr class="odd" *ngFor="let detail of film | paginate: { itemsPerPage: 2, currentPage: p }">
                                        <td class="sorting_1">{{ detail.name }}</td>
                                        <td>{{ detail.description }}</td>
                                        <td>{{ detail.category }}</td>
                                        <td>{{ detail.filmId }}</td>
                                        <td>{{ detail.premiere }}</td>
                                        <td>{{ detail.time }}</td>
                                        <td>
                                            <a href="/admin/edit" class="btn btn-secondary mx-2">Sửa</a>
                                            <a href="" class="btn btn-secondary btn-delete-film" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                >Xóa</a
                                            >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
