<div class="my-4 container">
    <h1 class="text-center mt-4">GIỚI THIỆU</h1>
    <div class="d-flex flex-row align-items-center ">
        <div class="" style="background-color: #fff">
            <br />
            <h3>Về chúng tôi</h3>
            <div class="lh-sm">
                được biết đến với cụm rạp đầu tiên với 5 phòng chiếu vào năm 2010,<br />
                tại Maximark 3/2 (nay là Vincom 3/2). Từ 2014, BHD Star Cineplex là cụm <br />rạp của doanh nghiệp Việt
                Nam duy nhất có sức phát triển mạnh mẽ, qua việc liên <br />
                tục mở thêm các vị trí rạp mới, ở những khu vực đắc địa của Thành phố Hồ Chí Minh, <br />
                Hà Nội, Huế và các tỉnh thành khác.
            </div>
            <br />
            <br />
            <div>
                <Span style="color: green" class="fw-bolder">MỤC TIÊU HOẠT ĐỘNG </Span> Các mục tiêu này được thiết lập
                bởi BHD Star Cineplex như là <br />kim chỉ nam cho các Ban Quản Lý Rạp để bảo đảm trải nghiệm điện ảnh
                hoàn hảo cho khách hàng.
            </div>
            <br />

            <div>
                <Span class="fw-bolder">+ Phục vụ khách hàng:</Span>
                Chúng tôi cam kết chất lượng phục vụ theo tiêu chuẩn cao <br />
                nhất qua việc thoả mãn các yêu cầu của khách hàng kịp thời,đầy đủ và chuyên nghiệp.
            </div>
            <br />

            <div>
                <Span class="fw-bolder">+ Địa điểm an toàn:</Span>
                Chúng tôi cam kết chất lượng phục vụ theo tiêu chuẩn cao <br />
                nhất qua việc thoả mãn các yêu cầu của khách hàng kịp thời,đầy đủ và chuyên nghiệp.
            </div>
            <br />

            <div>
                <Span class="fw-bolder"> + Âm thanh hình ảnh: </Span>
                Chúng tôi cam kết chất lượng phục vụ theo tiêu chuẩn cao <br />
                nhất qua việc thoả mãn các yêu cầu của khách hàng kịp thời,đầy đủ và chuyên nghiệp.
            </div>
        </div>
        <img class="w-50 " style="border-radius: 25px" src="https://scontent.fhan5-8.fna.fbcdn.net/v/t39.30808-6/311873974_530576185744113_9177196388586066317_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=e3f864&_nc_ohc=_neC99e8a6kAX_17W3O&_nc_ht=scontent.fhan5-8.fna&oh=00_AT9Ooh3uHOzDD5FdxF235Lo4Vn7c7o397cGLxhJvlM3Big&oe=6355EAFC" alt="">
    </div>
</div>
